 

<ion-content ion-padd>
  <div class="logo-cont">
    <img src="assets/imgs/logo_head.png" />
  </div>
  <div class="lbl-cont">
    <ion-label>DIAGNÓSTICO LGPD</ion-label>
  </div>
  <div class="txt-cont">
    <ion-textarea readonly="true">
        A tomada de decisão baseada em dados deixou de ser um diferencial competitivo, é uma evolução necessária para a sobrevivência do negócio, o processo de TRANSFORMAÇÃO DIGITAL ganhou força com a distância e as novas formas de Trabalho Remoto.
        Ao mesmo tempo, a conscientização dos usuários sobre seus dados, em linha com o interesse do governo em regulamentar a relação entre empresas e clientes, culminou na Lei Geral de Proteção de Dados.
        A adaptação à Lei vai além de sanções e multas, ela estabelece um princípio de Governança, Proteção de Dados e Privacidade. É por isso que a Harpy vem para compartilhar sua experiência com clientes, parceiros e sociedade.
        A nossa ferramenta de DIAGNÓSTICO permite avaliar gratuitamente a situação da sua empresa e identificar os principais pontos fracos em relação ao DIREITO, prevendo potenciais multas e dando VISIBILIDADE aos pontos de melhoria e adequação.
        Nenhuma informação pessoal será registrada sem o seu consentimento, ao aceitar este termo podemos usar suas respostas anonimamente para aumentar nossa base de conhecimento.
      <!-- <div style="text-align: center;">
        <span class='title'>Termos e Condições</span>
      </div>
       <br><br>
      <span class="sub-title">Introdução</span>
      <br><br>
      Os Termos e Condições aqui descritos destinam-se a descrever as práticas que a Ferramenta Diagnóstico LGPD ("Ferramenta") segue no que diz respeito à privacidade das informações que são concedidas, processadas e armazenadas pela Ferramenta.
      <br><br>
      <span class="sub-title">Utilização e tipo de informação processada pela Ferramenta</span>
      <br><br>
        Ao acessar a Ferramenta serão exigidos apenas dados relacionados a sua empresa, não sendo solicitado qualquer informação que possa identificar a empresa ou qualquer tipo de dado pessoal (i.e., informação relacionada a pessoa natural identificada ou identificável) do usuário.
        Ressaltamos que o fornecimento das informações para nós acontece de forma anonimizada e não identificável, de modo que não será necessário o fornecimento de qualquer informação da empresa e/ou pessoal que possa identificá-lo para uso da Ferramenta.
        Para acessar a Ferramenta é necessário responder ao questionário inicial, no qual serão solicitadas as seguintes informações: (i) Porte da Empresa, (ii) Principal Tipo de Cliente, (iii) Número de Funcionários da Empresa, (iv) Unidade Federativa em que a empresa atua e (v) Setor de Negócios.
        De modo a garantir a anonimização do usuário, a Ferramenta não armazena qualquer tipo de dado de acesso, de modo que caso o usuário saia do questionário antes de finalizá-lo, o progresso será perdido e será necessário iniciar novamente o questionário em um novo acesso.
        As informações fornecidas pelo usuário na Ferramenta poderão ser usadas por nós para fins de pesquisa e estatística, benchmarking e análise de tendências do setor, sem que haja qualquer tipo de identificação do usuário. Portanto, certifique-se de que você não insira dados pessoais confidenciais ou informações confidenciais na Ferramenta se um campo de texto livre estiver presente.
      <br><br>
      <span class="sub-title">Gerenciamento da Ferramenta</span>
      <br><br>
        A entidade que está agindo como controlador de dados, fornecendo esta Ferramenta em que suas informações serão processadas e armazenadas é a ABES - ASSOCIAÇÃO BRASILEIRA DAS EMPRESAS DE SOFTWARE, entidade de classe a nível nacional, com sede em São Paulo, Estado de São Paulo, em conjunto com a Ernst & Young Assessoria Empresarial Ltda. ("EY"), cada uma das quais é uma entidade jurídica independente, e cada uma delas pode atuar como um controlador de dados em seu próprio direito. As informações que são fornecidas na Ferramenta podem ser compartilhadas pela ABES com empresas membro da EY em várias jurisdições diferentes.
      <br><br>

      <span class="sub-title">Quem pode acessar as informações?</span>
      <br><br>
        A EY e a ABES somente irão compartilhar as informações fornecidas pelo usuário na Ferramenta com terceiros que concordarem expressamente por escrito em fornecer um nível adequado de proteção de privacidade.
        As informações do usuário poderão ser acessadas na Ferramenta pelas seguintes categorias de pessoas para os fins abaixo descritos:
        Administradores da Ferramenta: implementar e manter a aplicação com configurações padrão, definir modelos e metadados, configurar o banco de perguntas e a lógica para ramificação que é utilizável por todos.
        Autores da pesquisa: criar questionários, gerenciar e controlar o acesso a questionários e resultados correspondentes e criar relatórios com base em resultados.
      <br><br>

      <span class="sub-title">Retenção de dados</span>
      <br><br>
        A ABES e a EY manterão armazenadas as informações de resposta da pesquisa na Ferramenta por 7 (sete) anos, de acordo com a as suas respectivas políticas de retenção de registros (ou como aprimorada/modificada pelos requisitos de política regional e local).
      <br><br>

      <span class="sub-title">Dados pessoais sensíveis</span>
      <br><br>
        Não é intenção da Ferramenta processar dados pessoais sensíveis. Assim, solicitamos que você não insira dados pessoais confidenciais na Ferramenta antes ou durante a pesquisa. Dados pessoais sensíveis significam dados pessoais de um indivíduo que consiste em informações sobre a origem racial ou étnica do titular dos dados, suas opiniões políticas, suas crenças religiosas ou filosóficas, se ele é um membro de um sindicato e sua posição para sindicatos, seus dados genéticos, dados biométricos, a fim de identificar exclusivamente uma pessoa, sua saúde física ou mental ou condição, a sua vida sexual e orientação, suas convicções criminais e infrações ou medidas de segurança relacionadas, seus arquivos de segurança social.
      <br><br>

      <span class="sub-title">Segurança</span>
      <br><br>
        A ABES e a EY implementaram padrões aceitos de medidas técnicas e políticas de segurança que protegem as informações pessoais na Ferramenta que tem seu controle de acesso não autorizado, uso indevido ou divulgação, modificação não autorizada e ilegal destruição ou perda acidental.
      <br><br>
      
      <span class="sub-title">Fale conosco</span>
      <br><br>
        Se você tiver dúvidas ou não sentir que suas preocupações foram abordadas nestes Termos e Condições, entre em contato conosco através dos contatos indicados na página do Fale Conosco.
      <br><br>

      <span class="sub-title">Reconhecimento</span>
      <br><br>
        Após a sua aceitação eletrônica, os termos contidos neste Termos e Condições são considerados efetivos a partir da data dessa aceitação e permanecerão efetivos até 6 (seis) semanas após a conclusão do inquérito.
        Por favor, reveja os Termos e Condições e avance para aceitar ou recusar a aceitação.
      <br><br> -->
    </ion-textarea>
    
     
  </div>
  <ion-item >
    <ion-label>ACEITO OS TERMOS</ion-label>
    <ion-checkbox slot="start" [(ngModel)]="isAccept" (click)="accept()">
    </ion-checkbox>
  </ion-item>
  <div class="btn-cont">
    <ion-button (click)="start()" color="primary">INICIAR</ion-button>
  </div>

</ion-content>
